
    .modal-background {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }


    .modal-container {
        width: fit-content;
        height: fit-content;
        background-color: var(--color-tertiary);
        border-style: none;
        display: flex;
        color: black;
        flex-direction: column;
        border-radius: 5px;
    }



    .modal-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-secondary);
        padding: 1rem;
        border-radius: 5px 5px 0 0 ;
    }

    .div-form {
        display: flex;
        flex-direction: column;
    }

    .modal-form {
        display: flex;
        flex-wrap: wrap;
        width: 50rem;
        padding: 1rem;
        gap: 1rem;
        justify-content: space-between;
        border: 1px solid;


        p {
            font-size: small;
            color: red;
        }
    
    }

    input, select {
        padding: 0.5rem;
        background-color: var(--grey-1);
        border: 1px solid;
        border-radius: 5px;
    }


    .btn-create {
        background-color: var(--color-primary);
        color: white;
        width: 300px;
    }

    .close-button {
        background-color: var(--color-primary);
        color: white;
    }

    .delete-modal-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
  
    }

