
.section-about {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: var(--grey-1);
    height: 31rem;

    h2 {
        text-align: center;
        line-height: 2.2rem;
    }
}

.search-form {
    display: flex;
    // border: 1px solid;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: var(--color-secondary);

    }
}